& > header {
  @chassis z-index front;
  flex: 0 0 auto;

  &.primary {
    background: var(--main-primary-header-bg-color);

    & .width.constraint {
      display: flex;
      align-items: center;
      @chassis apply inline-block padding-y;
    }

    & a.previous {
      display: block;
      margin-right: var(--inline-block-margin-x);
      color: var(--main-primary-header-text-color);
      border-radius: .236em;

      &:hover {
        background: var(--main-primary-header-text-color);
        color: black;
      }
    }

    & h1 {
      margin: 0 var(--inline-block-padding-x) 0 0;
      @chassis font-size large;
      color: var(--main-primary-header-text-color);
    }

    & .version.tag {
      margin: 0 auto 0 0;
    }

    & button.menu {
      @chassis new button {
        @state initial {
          padding: 0;
          @chassis font-size small;
          color: white;
          opacity: .618;
        }

        @state hover {
          opacity: 1;
        }
      }

      & .icon {
        height: 2em;
      }
    }

    & .tools {
      display: none;
      margin: 0 0 0 var(--inline-block-padding-x);
    }

    & chassis-control.search {
      @chassis extend chassis-control {
        @state initial {
          margin: 0;
          @chassis font-size small;
          opacity: .618;
          color: white;
          background: var(--grey-c10);
          border-radius: var(--inline-block-border-radius);
        }

        @state focus-within {
          opacity: 1;
          background: var(--grey-c08);
        }
      }

      & > input {
        margin: 0;
        box-shadow: none;

        &::placeholder {
          color: color-mod(white a(38.2%));
        }
      }

      & .icon {
        color: white;
      }
    }

    @chassis vp-width > small {
      & button.menu {
        display: none;
      }

      & .tools {
        display: block;
      }
    }
  }

  &.secondary {
    background: var(--main-secondary-header-bg-color);
    border-bottom: 1px solid var(--grey-n04);

    @chassis font-size small;

    & .width.constraint {
      @chassis apply inline-block padding-y;
    }

    & .breadcrumb {
      margin: 0;
    }
  }
}
