& > header {
  padding: 1rem 0;
  background: var(--blue);

  & > .width.constraint {
    display: flex;
    align-items: center;
  }

  & .title {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    & h1 {
      flex: 1 1 auto;
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      margin: 0;

      @chassis font-size root;
      font-weight: normal;
      color: var(--white);

      & a.authorio.logo {
        display: flex;
        margin-right: var(--inline-block-padding-x);
        color: var(--white);
        text-decoration: none;
      }

      @chassis vp-width from medium {
        flex: 0 0 auto;
        margin-right: var(--inline-block-padding-x);
      }
    }

    & .version.tag {
      @chassis new tag {
        @state initial {
          background: var(--blue-dark);
          color: var(--white);
        }
      }
    }
  }

  & nav {
    display: none;
    align-items: center;
    margin: 0;

    & h3 {
      display: none;
    }

    & > a {
      margin-left: var(--inline-block-padding-x);
      opacity: .618;

      /* @chassis font-size small; */
      color: var(--white);
      text-transform: uppercase;
      text-decoration: none;

      & .label {
        display: none;
      }

      & svg.icon {
        stroke: var(--white);
        fill: var(--white);
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }

    @chassis vp-width from medium {
      display: flex;
    }
  }
}
