& chassis-control.icon {
  padding-left: var(--inline-block-padding-x);

  &.left input {
    padding-left: var(--inline-block-margin-x);
  }

  &.right input {
    padding-right: var(--inline-block-margin-x);
  }
}
