&.project {
  & main {
    & > .content {
      position: relative;
      flex: 1 1 auto;
      display: flex;
      min-height: 0; /* Enable scrolling in Firefox and IE */

      & > .sidebar {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        min-width: 0;

        padding: 0;

        background: var(--main-sidebar-bg-color);
        border-right: var(--pane-border);

        & .buttons {
          display: flex;
          flex-direction: column;

          & button {
            border: 0;
          }
        }

        & button {
          @chassis new button {
            @state initial {
              padding: var(--inline-block-padding-x);
              border-bottom: var(--pane-border);
            }

            @state hover {
              background: var(--main-sidebar-button-hover-bg-color)
            }
          }

          &.collapse {
            align-self: flex-end;
            /* padding: 2px; */
            border: 0;
            /* border-radius: var(--icon-border-radius); */
            @chassis font-size small;

            &:hover {
              background: var(--red);
              color: white;
            }
          }
        }

        & > .content {
          display: none;
          padding: var(--main-content-padding-top) var(--typography-scale-ratio)em 0;
          overflow: auto;

          & nav {
            & > header {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              cursor: pointer;

              & h3 {
                order: 99;
                margin-bottom: 0;
                @chassis apply inline-block margin-left;
              }

              & .icon {
                border-radius: var(--icon-border-radius);
                @chassis font-size small;

                &.expand {
                  display: none;
                }
              }

              &:hover .icon {
                background: var(--grey-n00);
              }
            }

            & ol {
              @chassis font-size small;

              & li {
                @chassis apply inline-block padding-bottom;

                &:first-child {
                  @chassis apply inline-block padding-top;
                }
              }
            }

            &.collapsed {
              @chassis apply inline-block margin-bottom;

              & > header {
                opacity: .618;

                &:hover {
                  opacity: 1;
                }
              }

              & .icon {
                &.expand {
                  display: block;
                }

                &.collapse {
                  display: none;
                }
              }

              & ol {
                display: none;
              }
            }
          }
        }

        &.expanded {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 280px;

          text-align: right;
          box-shadow:
            100vw 0 0 100vw color-mod(black a(61.8%)),
            var(--inline-block-margin-x) 0 var(--inline-block-padding-x) 0 color-mod(black a(23.6%))
          ;

          & .buttons {
            position: absolute;
            top: var(--inline-block-margin-x);
            left: var(--inline-block-margin-x);

            flex-direction: row;

            & button {
              @chassis font-size small;
              border: 0;
            }
          }

          & button {
            &.collapse {
              position: absolute;
              top: var(--inline-block-margin-x);
              right: var(--inline-block-margin-x);
              display: inline-flex;
            }

            &.expand {
              display: none;
            }
          }

          & > .content {
            display: block;
          }

          & + .workspace {
            padding-left: calc((var(--svg-icon-height) + var(--inline-block-padding-x) * 2) - var(--pane-border-width));
          }
        }

        @chassis vp-width <= medium {
          width: auto;
          padding: 0;

          & button.collapse {
            display: none;
          }
        }

        @chassis vp-width > small {
          position: relative !important;
          flex: 1 1 23.6%;
          min-width: 280px;

          text-align: right;
          box-shadow: none !important;

          & button {
            display: none !important;
            @chassis font-size small;
          }

          & .buttons {
            position: absolute;
            top: var(--inline-block-margin-x);
            right: var(--inline-block-margin-x);
            left: auto !important;

            flex-direction: row;
            align-self: flex-end;

            & button {
              display: inline-flex !important;
            }
          }

          & > .content {
            display: block;
          }

          & + .workspace {
            padding-left: 0 !important;
          }
        }
      }

      & > .workspace {
        flex: 1 1 auto;
        padding-top: calc(var(--main-content-padding-top) / 2);
        overflow: scroll;

        & .width.constraint {
          min-width: 0;
          padding-left: 6.18%;
        }

        & > footer {
          @chassis apply inline-block padding-y;
          background: var(--main-footer-bg-color);
        }

        @chassis vp-width <= medium {
          &.overlaid {
            overflow: hidden;
          }
        }
      }
    }
  }
}
