@chassis init;
@chassis include all;
@chassis import animations;

.authorio.docs {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @chassis import dir(components);
  @chassis import dir(layout);
  @chassis import mobile;

  @chassis vp-width from medium {
    & .mobile-only {
      display: none !important;
    }
  }
}
