@chassis init;
@chassis include all;

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

.docs {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;

  @chassis import components;

  & main {
    flex: 1 1 100%;

    display: flex;
    flex-direction: column;

    height: 100vh;

    & > header {
      flex: 0 0 auto;

      &.primary {
        background: var(--main-primary-header-bg-color);

        & .width.constraint {
          display: flex;
          align-items: center;
          @chassis apply inline-block padding-y;
        }

        & a.previous {
          display: block;
          margin-right: var(--inline-block-padding-x);
          color: var(--main-primary-header-text-color);
        }

        & h1 {
          margin: 0;
          @chassis font-size large;
          color: var(--main-primary-header-text-color);
        }

        & .version.tag {
          margin-left: var(--inline-block-padding-x);
        }
      }

      &.secondary {
        background: var(--main-secondary-header-bg-color);
        border-bottom: 1px solid var(--grey-n04);

        @chassis font-size small;

        & .width.constraint {
          @chassis apply inline-block padding-y;
        }

        & .breadcrumb {
          margin: 0;
        }
      }
    }

    & .scrollable {
      flex: 1 1 100%;

      display: flex;
      flex-direction: column;

      padding-top: var(--main-content-padding-top);
      overflow: scroll;

      & > .content {
        flex: 1 0 auto;
        display: flex;
      }
    }

    & .main.content {
      flex: 1 0 auto;
      display: flex;
    }

    & > footer,
    & footer.main {
      @chassis apply inline-block padding-y;
      background: var(--main-footer-bg-color);
    }
  }

  & .projects {
    flex: 1 1 auto;

    & .project {
      & .title {
        border-bottom: 1px solid var(--grey-n03);
      }

      & .info {
        & .description {
          @chassis apply inline-block margin-bottom;
        }

        & nav {
          @chassis apply inline-block padding-y;

          border: 1px solid var(--grey-n03);
          background: var(--grey-n00);

          @chassis font-size small;
          font-weight: bold;

          & a {
            display: block;
            @chassis apply inline-block padding;
          }
        }

        @chassis vp-width > small {
          display: flex;

          & .description {
            flex: 1 1 61.8%;
            margin-right: 6.18%;
          }

          & nav {
            flex: 1 1 38.2%;
          }
        }
      }
    }
  }

  &.project {
    & main > .content {
      flex: 1 1 auto;
      display: flex;

      & > .sidebar {
        flex: 0 0 auto;
        min-width: 0;

        padding: 0;
        overflow: auto;

        background: var(--main-sidebar-bg-color);
        border-right: 1px solid var(--grey-n04);

        & > .content {
          display: none;
          padding: var(--main-content-padding-top) var(--typography-scale-ratio)em 0;

          & nav {
            & > header {
              display: flex;
              justify-content: flex-end;
              align-items: center;

              & h3 {
                order: 99;
                margin-bottom: 0;
                @chassis apply inline-block margin-left;
              }

              & .icon {
                @chassis font-size small;

                &.expand {
                  display: none;
                }
              }
            }

            & ol {
              @chassis font-size small;

              & li {
                @chassis apply inline-block padding-bottom;

                &:first-child {
                  @chassis apply inline-block padding-top;
                }
              }
            }

            &.collapsed {
              & .icon {
                &.expand {
                  display: block;
                }

                &.collapse {
                  display: none;
                }
              }

              & ol {
                display: none;
              }
            }
          }
        }

        &.expanded {

        }

        @chassis vp-width <= medium {
          width: auto;
          padding: 0;
        }

        @chassis vp-width > small {
          flex: 1 1 23.6%;
          min-width: 280px;
          text-align: right;

          & button {
            display: none;
          }

          & > .content {
            display: block;
          }
        }
      }

      & > .workspace {
        flex: 1 1 auto;

        min-width: 0;
        padding-top: var(--main-content-padding-top);
        padding-left: 6.18%;

        overflow: auto;
      }
    }
  }
}
